# Getting started

In [23]:
import pandas as pd
import os

# Creating data
Dataframe: Tabla con filas y columnas

Series: Lista de datos, columnas de df

In [24]:
pd.DataFrame({'Yes':[50,21], 'No':[131,2]})

   Yes   No
0   50  131
1   21    2

In [25]:
pd.DataFrame({'Bob':['I like it.', 'It was awful.'], 'Sue':['Pretty good.', 'Bland.']})

             Bob           Sue
0     I like it.  Pretty good.
1  It was awful.        Bland.

Por defecto, el index comienza desde 0, en el caso de que se desee asignar labels usar index

In [26]:
pd.DataFrame({'Bob':['I like it.', 'It was awful.'], 'Sue':['Pretty good.', 'Bland.']}, index=['Product A', 'Product B'])

                     Bob           Sue
Product A     I like it.  Pretty good.
Product B  It was awful.        Bland.

Series

In [27]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Al igual que el df, el index comienza en 0, para cambiar usar index

In [28]:
pd.Series([30,40,50], index=['2015 Sales', '2016 Sales', '2017 Sales'])

2015 Sales    30
2016 Sales    40
2017 Sales    50
dtype: int64

# Reading data files
Los datos pueden ser guardados en diferentes formatos pero el mas usado es CSV

In [29]:
df_example = pd.read_csv("../kaggle/input/example_01.csv")

Visualizar el tamanho del df - shape

In [30]:
df_example.shape

(3, 4)

In [31]:
df_example.shape[0] #Columnas - Series

3

In [32]:
df_example.shape[1] #Filas

4

In [33]:
import kagglehub

path = kagglehub.dataset_download("christopheiv/winemagdata130k")
print("Path to dataset files:", path)

Path to dataset files: /home/maye/.cache/kagglehub/datasets/christopheiv/winemagdata130k/versions/1

In [34]:
cv_path = os.path.join(path,"winemag-data-130k-v2.csv")

In [37]:
wine_reviews = pd.read_csv(cv_path)

In [ ]:
Examinar el contenido del df

In [38]:
wine_reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [39]:
wine_reviews = pd.read_csv(cv_path, index_col=0)
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks